<button mat-flat-button color="primary" class="new-appointment-button"
  id="new-appointment"
  (click)="buttonClick()"
  >
  Buscar
</button>

<ng-container class="table-container" *ngIf="visibleCars">
  <mat-card>
    <h1>Carros</h1>
    <app-table (dataEvent)="receiveCarTableData($event)" [data]="cars$ | async"></app-table>
  </mat-card>
</ng-container>

<ng-container class="table-container" *ngIf="visibleTrips">
  <mat-card>
    <h1>Viagens</h1>
    <app-table [data]="trips$ | async"></app-table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
  </mat-card>
</ng-container>

